
body {
  margin: 0;
  padding: 0;
  background-color: #dce1e1;
}
h3{
  color: blue;
}

header {
  background-color: #003049;
  color: white;
  padding: 3rem 2rem;
  text-align: center;
  border-radius: 40%;
}

nav ul  {
  color: white;
  padding: 1rem;
  text-align: center;
  border-radius: 20%;
  
}

nav a {
  color: #f1f1f1;
  margin: 0 2rem;
  text-decoration: none;
  background-color: #003049;
  padding: 4px;
  border-radius: 5px;
  transition: background .2s ease-in-out;
}

nav a:hover {
  background:#0b7dba ;
}

section {
  padding: 4rem;
  max-width: 900px;
  margin: auto;
  background-color: rgb(210, 108, 190);
  margin-top: 3rem;
  border-radius: 20px ;
  box-shadow: 0 0 10px rgba(4, 184, 49, 0.1);
}
header,nav{
  margin-bottom: 2rem;
}

.speaker {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem; 
}

.speaker img {
  width: 80px;
  height: 90px;
  border-radius: 50%;
}


form input,
form select,
form textarea,
form button {
  width: 100%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid blue;
  border-radius: 10px;
  font-family: "Roboto", sans-serif;
}

form button {
  position: absolute;
  width: 160px;
  background-color:   #10c8b9;
  color: white;
  cursor: pointer;
  border: none;
  transition: background .2s ease-in-out;
  margin-left: 360px;

 
}
form button:hover {
  background-color: #04554e;

}
#text {
  color: blue;
  width: 100%;
  text-align: center;
  margin-top: 4rem;
  font-size: 2rem;
  font-weight: 900;

}

footer {
  text-align: center;
  padding: 1rem;
  margin-top: 3rem;
  background-color:  #003049;
  color: white;
}